body{
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: underline;
    color: white;
}
ul{
   color: lightskyblue;
   text-decoration: dotted;

}
.game{
    background-color: gold;
}
h2,button{
    color: gold;
}